---
subcategory: ""
page_title: "Multi Environment Considerations"
description: |-
    Considerations when deploying multiple environments.
---

# Multi Environment Considerations

Usually when deploying multiple environments the same Terraform HCL is used, using different backends to store the state.
This introduces an issue with the simple examples as they create the git repository for you. The first environment would
deploy properly but the second would fail as it attempts to create an identical repository. Generally you would want
to share the same repository for the Flux deployments in the different environments. The solution to the problem is
to manually create the repository and then use a datasource instead of a resource.

{{ tffile "examples/multi-env/main.tf" }}

Manually creating repositories instead of letting Terraform track them also removes the risk of accidentally deleting
a repository. Bootstrapping Flux will require Terraform to commit files to the repository, and allow Terraform to
overwrite files if you change them. It is likely that other files have been committed to the same repository that
Terraform has not created, in that case it would not be optimal if Terraform removed the repository when
destroying other resources.
