---
layout: ""
page_title: "Provider: fluxv2"
description: |-
  The fluxv2 provider provides a way to bootstrap fluxv2 into a kubernetes cluster using terraform.
---

# Flux Provider

The flux provider provides datasources to generate installation and gitsource manifest for fluxv2.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{tffile "examples/github/main.tf"}}

{{ .SchemaMarkdown | trimspace }}