---
layout: ""
page_title: "Provider: flux"
description: |-
  The flux provider provides a way to bootstrap flux into a kubernetes cluster using terraform.
---

# Flux Provider

The flux provider provides datasources to generate installation and gitsource manifest for flux.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{tffile "examples/github/main.tf"}}

{{ .SchemaMarkdown | trimspace }}