---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

!> This datasource is deprecated and will be removed in the future. Use `flux_bootstrap_git` resource instead. Existing users of this datasource should migrate by following the [guide](https://registry.terraform.io/providers/fluxcd/flux/latest/docs/guides/migrating-to-resource).

{{ .Description | trimspace }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
