name: e2e

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  kind:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore Go cache
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Setup Kubernetes
        uses: engineerd/setup-kind@v0.5.0
        with:
          image: kindest/node:v1.16.9
      - name: Install tfplugindocs
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          cd $GITHUB_WORKSPACE/bin
          wget https://github.com/hashicorp/terraform-plugin-docs/releases/download/v0.2.0/tfplugindocs_0.2.0_linux_amd64.zip
          unzip tfplugindocs_0.2.0_linux_amd64.zip
          echo $(pwd) >> $GITHUB_PATH
      - name: Run tests and build
        run: make
      - name: Run docs gen
        run: make docs
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            git diff
            echo 'run make test and commit changes'
            exit 1
          fi
      - name: Run install terraform
        run: |
          mkdir -p ./examples/install/.terraform/plugins/registry.terraform.io/fluxcd/flux/0.0.1/linux_amd64
          cp ./bin/flux ./examples/install/.terraform/plugins/registry.terraform.io/fluxcd/flux/0.0.1/linux_amd64/terraform-provider-flux_v0.0.1
          cd examples/install
          terraform init
          terraform apply -auto-approve

