name: golangci
on:
  push:
    branches: [ main ]
    paths:
      - '**/*.go'
      - '**/go.mod'
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.go'
      - '**/go.mod'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: 1.23.x
          cache-dependency-path: |
            **/go.sum
            **/go.mod
      - name: Download Flux manifests
        run: make manifests
      - name: Run tidy
        run: make tidy
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            git diff
            echo 'run make tidy and commit changes'
            exit 1
          fi
      - uses: golangci/golangci-lint-action@aaa42aa0628b4ae2578232a66b541047968fac86 # v6.1.0
        with:
          version: latest
          skip-pkg-cache: true
          args: --timeout=10m
