name: golangci
on:
  push:
    branches: [ main ]
    paths:
      - '**/*.go'
      - '**/go.mod'
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.go'
      - '**/go.mod'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.25.x
          cache-dependency-path: |
            **/go.sum
            **/go.mod
      - name: Download Flux manifests
        run: make manifests
      - name: Run tidy
        run: make tidy
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            git diff
            echo 'run make tidy and commit changes'
            exit 1
          fi
      - uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: --timeout=10m
