name: Update manifestgen

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  update-manifestgen:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.x
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update component versions
        id: update
        run: |
          RELEASE_VERSION=$(flux version --client | awk '{print $2}')
          CURRENT_VERSION=$(go list -m all | grep github.com/fluxcd/flux2 | awk '{print $2}')
          if [[ "${RELEASE_VERSION}" != "${CURRENT_VERSION}" ]]; then
            go mod edit -require github.com/fluxcd/flux2@${RELEASE_VERSION}
            go mod tidy -compat=1.17
          fi
          git diff

          PR_TITLE="Update Flux to ${RELEASE_VERSION}"
          PR_BODY=$(mktemp)
          echo "- github.com/fluxcd/flux2 to ${RELEASE_VERSION}" >> $PR_BODY
          echo "  https://github.com/fluxcd/flux2/releases/${RELEASE_VERSION}" >> $PR_BODY

          # NB: this may look strange but it is the way it should be done to
          # maintain our precious newlines
          # Ref: https://github.com/github/docs/issues/21529
          echo 'pr_body<<EOF' >> $GITHUB_OUTPUT
          cat $PR_BODY >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
          echo "pr_title=$PR_TITLE" >> $GITHUB_OUTPUT
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
            token: ${{ secrets.BOT_GITHUB_TOKEN }}
            commit-message: |
              ${{ steps.update.outputs.pr_title }}

              ${{ steps.update.outputs.pr_body }}
            committer: GitHub <noreply@github.com>
            author: fluxcdbot <fluxcdbot@users.noreply.github.com>
            signoff: true
            title: ${{ steps.update.outputs.pr_title }}
            body: |
              ${{ steps.update.outputs.pr_body }}
            branch: update-components
            labels: |
              area/build
            reviewers: ${{ secrets.ASSIGNEES }}
      - name: Check output
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
